### Python Data Structures and Boolean
Boolean
Boolean and Logical Operators
Lists
Comparison operators
Dictionaries
Tuples
Sets
### Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
False

False

In [2]:
print(True,False)

True False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [7]:
my_str="Krish123k"

In [8]:
my_str.istitle()

True

In [9]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith k
print(my_str.startswith('K')) #test if string startswith K

True
False
False
True
False
False
False
False
True

### Note: to see the definition you can press shift+tab so each function defition shall be displayed.

### Boolean & Logical Operators

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
True or True

True

In [14]:
str_example='Hello World'
my_str='Krish'

In [15]:
my_str.isalpha() or str_example.isnum()

True

In [16]:
### Note: In above line:15 first set is true and sencond set is false, True or False is equal too True

### LIST

### List is the collection of items which is mutable or changeable , ordered sequence of elements.
Each element or value that is inside of a list is called an item. 
This is derived in form of square barackets [].

In [17]:
type([])

list

In [18]:
lst_example=[]

In [19]:
type(lst_example)

list

In [ ]:
## Another type to write List

In [23]:
lst=list()

In [24]:
type(lst)

list

In [25]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [26]:
### to identify the length of list

In [27]:
len(lst)

6

In [28]:
type(lst)

list

In [29]:
### In build functions in List

### Append

In [30]:
#.append is used to add elements in the list
lst.append("Krish")

In [31]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish']

In [32]:
##Indexing in List
lst[6]

'Krish'

In [33]:
### indexing done in range of values

In [34]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

In [35]:
### Nested List

In [36]:
lst.append(["John","Bala"])

In [37]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

### Insert

In [38]:
## insert in a specific order

lst.insert(2,"Naik")

In [39]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala']]

In [44]:
lst.append(["Hello","World"])

In [45]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala'],
 ['Hello', 'World'],
 ['Hello', 'World'],
 ['Hello', 'World']]

In [46]:
lst=[1,2,3]

In [47]:
lst.append([4,5])

In [48]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [49]:
lst=[1,2,3,4,5,6]

In [50]:
lst.extend([7,8])

In [51]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

### Various Operations that we can perform in List

In [52]:
lst=[1,2,3,4,5]

In [53]:
sum(lst)

15

In [54]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method try to pick up the element from specific index i.e, removes the last element

In [55]:
lst.pop()

5

In [56]:
lst

[1, 2, 3, 4]

In [57]:
lst.pop(0)

1

In [58]:
lst

[2, 3, 4]

### count():Calculates total occurrence of given element of List

In [59]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [60]:
#in above output it is displaying as 2 since number 1 in list are displayed two times

In [61]:
#length:Calculates total length of List
len(lst)

6

In [62]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1)

0

In [63]:
lst.index(1,1,4)

1

In [66]:
#in above output fisrt one is the vale then it follows with start and end of the index
# press shift+tab for more details

In [67]:
##min and max

In [68]:
min(lst)

1

In [69]:
max(lst)

5

### SETS

In [70]:
# A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. 
# Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [71]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [72]:
set_var={1,2,3,4,3}

In [73]:
set_var

{1, 2, 3, 4}

In [74]:
set_var={"Avengers","IronMan",'Hitman'}

In [75]:
print(set_var)

{'IronMan', 'Hitman', 'Avengers'}

In [76]:
type(set_var)

set

In [77]:
## Inbuilt function in sets

set_var.add("Hulk")

In [78]:
print(set_var)

{'IronMan', 'Hitman', 'Hulk', 'Avengers'}

In [79]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [80]:
set2.intersection_update(set1)

In [81]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [82]:
## Difference update

set2.difference_update(set1)

In [83]:
print(set2)

set()